{
	"useTabs": true,
	"semi": true,
	"endOfLine": "auto",
	"jsxSingleQuote": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 4,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"printWidth": 180
}
